<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p><strong>Emiel Lemahieu</strong> is a quantitative researcher at the Belgian robo-advisory <strong>InvestSuite</strong> and <strong>Ghent University</strong>. His research focuses on <strong>data-driven portfolio construction</strong> techniques. Starting from the general aim to offer smooth-ride investments to retail investors through robo-advisory tools, Emiel has explored traditional risk-based optimization techniques and ways to improve them using novel machine learning approaches. In particular, his research interests lie in using generative machine learning techniques for simulating optimal drawdown portfolios and graph-based methods to assess common sources of downside risk. Emiel holds an <strong> MSc Finance</strong>  from <strong>Ghent University</strong>  and <strong> King's College London</strong>  and is currently pursuing his <strong>PhD at Ghent University</strong>.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/projects"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">My Projects
                                </a>
                            </a>
                        </div>
                        <!-- <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
</section>