<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookie Consent Banner</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div id="cookiePopup" class="hide">
      <p>
        This website uses cookies to provide your browsing experience and
        relevant information. Before continuing to use the website, you agree &
        accept of the <a href="#">Cookie Policy & Privacy.</a>
      </p>
      <button id="acceptCookie">Accept</button>
    </div>
    <!-- Script -->
    <script src="../assets/js/script.js"></script>
  </body>
</html>